@model ILeaf.Web.Areas.Web.Models.AddCourseViewModel
@{
    ViewBag.Title = "添加课程";
}

@if (Model.Account.UserType == 3)
{
<table style="width:100%;">
    <tr>
        <td style="width:60%;padding:30px;">
            <h1>添加课程</h1>
            @using (Html.BeginForm())
            {
                @Html.HiddenFor(m => m.Id)
                <div class="form-group row">
                    <div class="col-lg-2 text-center">
                        <b>标题</b>
                    </div>
                    <div class="col-lg-8">
                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                    </div>
                    <div class="col-lg-2 checkbox">
                        <label>
                            @Html.CheckBoxFor(m => m.IsSelective)
                            选修课
                        </label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-2 text-center">
                        <b>教室</b>
                    </div>
                    <div class="col-lg-10">
                        @Html.TextBoxFor(m => m.Classroom, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-2 text-center">
                        <b>学期开始</b>
                    </div>
                    <div class="col-lg-8">
                        @Html.TextBoxFor(m => m.SemesterStart, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-2 text-center">
                        <b>上课时间</b>
                    </div>
                    <div class="col-lg-2">
                        @Html.DropDownListFor(m => m.Weekday, new List<SelectListItem>()
                        {
                            new SelectListItem() { Text = "星期一", Value = "1" },
                            new SelectListItem() { Text = "星期二", Value = "2" },
                            new SelectListItem() { Text = "星期三", Value = "3" },
                            new SelectListItem() { Text = "星期四", Value = "4" },
                            new SelectListItem() { Text = "星期五", Value = "5" },
                            new SelectListItem() { Text = "星期六", Value = "6" }
                        }, new { @class="form-control" })
                    </div>
                    <div class="col-lg-4">
                        @Html.TextBoxFor(m => m.StartTime, new { @class = "form-control" })
                    </div>
                    <div class="col-lg-4">
                        @Html.TextBoxFor(m => m.EndTime, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-2 text-center">
                        <b>上课周数</b>
                    </div>
                    <div class="col-lg-10">
                        @Html.TextBoxFor(m => m.Weeks, new { @class = "form-control", placeholder = "用数字表示，并以逗号分隔 (例如：1,2,3,4,6)" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-2 text-center">
                        <b>上课班级</b>
                    </div>
                    <div class="col-lg-10">
                        @Html.TextBoxFor(m => m.Classes, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group row">
                    <button class="btn btn-success" type="submit">保存</button>
                    <button class="btn btn-danger" onclick="window.close();">取消</button>
                </div>
            }
        </td>
        <td style="width:40%;padding:30px;">
            
        </td>
    </tr>
</table>
<script>

</script>
if (Model.Course != null)
{
    <script>
        $('#Id').val('@Model.Course.Id');
        $('#Title').val('@Model.Course.Title');
        $('#Classroom').val('@Model.Course.Classroom');
        $('#IsSelective').attr('checked', @Model.Course.IsSelectableCourse.ToString().ToLower());
        $('#StartTime').val('@(String.Format("{0:00}:{1:00}", Model.Course.StartTime.Hours, Model.Course.StartTime.Minutes))');
        $('#EndTime').val('@(String.Format("{0:00}:{1:00}", Model.Course.EndTime.Hours, Model.Course.EndTime.Minutes))');
        $('#SemesterStart').val('@Model.Course.SemesterStart.ToString("yyyy-MM-dd")');
        $('#Weekday').val('@Model.Course.Weekday');
        $('#Weeks').val('@(String.Concat(from week in Model.Course.Weeks select ',' + week.ToString()).Substring(1))');
        $('#Classes').val('@(String.Concat(from clazz in Model.Course.Classes select ',' + clazz.ClassName).Substring(1))');
    </script>
}
}
else
{
    <h1 class="text-center">抱歉，只有教师才能访问此页面</h1>
}
