@model ILeaf.Web.Areas.Web.Models.ForgetPasswordViewModel
@{
    Layout = "~/Areas/Web/Views/Shared/_Login.cshtml";
    ViewBag.Title = "找回密码";
}

@using (Html.BeginForm("ForgetPassword", "Login", FormMethod.Post, new { @class = "form-signin" }))
{
    <p class="text-center">找回密码</p>

    @Html.TextBoxFor(m => m.EMail, new { @class = "form-control", placeholder = "邮箱地址" })
    @Html.ValidationMessageFor(m => m.EMail)

    <table>
        <tr>
            <td>
                @Html.TextBoxFor(m => m.VerificationCode, new { @class = "form-control", placeholder = "验证码" })
            </td>
            <td>
                <img id="vPic" src="@Url.Action("VerificationCode", "Login")" onclick="reloadPic();" />
            </td>
        </tr>
    </table>
    <script>
        function reloadPic(){
            var pic = document.getElementById("vPic");
            var i = Math.random();
            pic.src = "@Url.Action("VerificationCode", "Login")?_=" + i;
        }
    </script>
    <br/>
    <button class="btn text-muted text-center btn-primary" type="submit">重置密码</button>
}
