@model ILeaf.Web.Areas.Web.Models.LoginViewModel
@{
    Layout = "~/Areas/Web/Views/Shared/_Login.cshtml";
    ViewBag.Title = "用户登录";
}

@using (Html.BeginForm("Index","Login",FormMethod.Post,new { @class= "form-signin" }))
{
    <p class="text-muted text-center">用户登录</p>

    @Html.HiddenFor(m => m.ReturnUrl)

    @Html.TextBoxFor(m => m.UserName, new { placeholder = "用户名", @class = "form-control" })
    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })

    @Html.PasswordFor(m => m.Password, new { placeholder = "密码", @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

    if (Model.ShowVerificationCode)
    {
        <table>
            <tr>
                <td>
                    @Html.TextBoxFor(m => m.VerificationCode, new { placeholder = "验证码", @class = "form-control" })
                </td>
                <td>
                    <img src="@Url.Action("VerificationCode","Login")"/>
                </td>
            </tr>
        </table>
    }
    <br/>
        <div>
            <button class="btn text-muted text-center btn-primary" type="submit">立即登录</button>
            <button class="btn text-muted text-center btn-success" onclick="WechatLogin();"><i class="fa fa-weixin"></i>&nbsp;微信登录</button>
        </div>
}