@model ILeaf.Web.Areas.Web.Models.RegisterViewModel
@{
    Layout = "~/Areas/Web/Views/Shared/_Login.cshtml";
    ViewBag.Title = "用户注册";
}


@using (Html.BeginForm("Register", "Login", FormMethod.Post, new { role = "form", @class = "form-signin" }))
{
    <p class="text-center">用户注册</p>

    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "用户名" })
    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })

    @Html.PasswordFor(m => m.Password, new { placeholder = "密码", @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

    @Html.PasswordFor(m => m.ReTypePassword, new { placeholder = "确认密码", @class = "form-control" })
    @Html.ValidationMessageFor(m => m.ReTypePassword, "", new { @class = "text-danger" })

    @Html.TextBoxFor(m => m.EMail, new { placeholder = "邮箱地址", @class = "form-control" })
    @Html.ValidationMessageFor(m => m.EMail, "", new { @class = "text-danger" })

    @Html.TextBoxFor(m => m.SchoolName, new { placeholder = "学校名称", @class = "form-control" })
    @Html.ValidationMessageFor(m => m.SchoolName, "", new { @class = "text-danger" })
    
    @Html.TextBoxFor(m => m.RealName, new { placeholder = "真实姓名", @class = "form-control"})
    @Html.ValidationMessageFor(m => m.RealName, "", new { @class = "text-danger" })

    <br />

    @Html.DropDownListFor(m => m.Gender, new List<SelectListItem>()
    {
        new SelectListItem() {Text="请选择性别",Value="I love Asuna Yuuki"},
        new SelectListItem() { Text = "男",Value = "1" },
        new SelectListItem() { Text = "女",Value = "2" },
    }, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Gender, "", new { @class = "help-text text-danger" })

    @Html.DropDownListFor(m => m.UserType, new List<SelectListItem>()
    {
        new SelectListItem(){Text="请选择用户类型",Value="I love Asuna Yuuki forever"},
        new SelectListItem() { Text = "学生",Value = "2" },
        new SelectListItem() { Text = "教师",Value = "3" },
    }, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.UserType, "", new { @class = "text-danger" })

    @Html.TextBoxFor(m => m.ClassName, new { @class = "form-control", placeholder = "班级号，教师不填" })
    @Html.ValidationMessageFor(m => m.ClassName, "", new { @class = "text-danger" })

    @Html.TextBoxFor(m => m.SchoolCardNum, new { @class = "form-control", placeholder = "校园卡号" })
    @Html.ValidationMessageFor(m => m.SchoolCardNum, "", new { @class = "help-text text-danger" })

    <table>
        <tr>
            <td>
                @Html.Bootstrap().TextBoxFor(m => m.VerificationCode).Placeholder("请输入图片中的字符")
            </td>
            <td>
                <img src="@Url.Action("VerificationCode", "Login")" />
            </td>
        </tr>
    </table>
    @Html.ValidationMessageFor(m => m.VerificationCode, "", new { @class = "help-text text-danger" })

    <br/>
    <button class="btn text-muted text-center btn-primary" type="submit">立即登录</button>
}


@section scripts{
    @Scripts.Render("~/Plugins/jQuery-Autocomplete-master/dist/jquery.autocomplete.js")
    @Scripts.Render("~/Scripts/ileaf.register.js")
}
