@model ILeaf.Web.Areas.Web.Models.AddAppointmentViewModel
@{
    ViewBag.Title = "添加日程";
}

@Styles.Render("~/Content/chat.css")
@Styles.Render("~/Content/MoneAdmin.css")
<table style="width:100%;">
    <tr>
        <td style="width:60%;padding:30px;">
            <h1>详情</h1>
            @using (Html.BeginForm("UpdateAppointment", "Calendar"))
            {
                @Html.HiddenFor(m => m.Id)
                <div class="form-group row">
                    <div class="col-lg-12">
                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control", placeholder = "标题" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-12">
                        @Html.TextBoxFor(m => m.Place, new { @class = "form-control", placeholder = "地点" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-1 text-center">
                        <b>开始</b>
                    </div>
                    <div class="col-lg-6">
                        @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control" })
                    </div>
                    <div class="col-lg-4">
                        @Html.TextBoxFor(m => m.StartTime, new { @class = "form-control" })
                    </div>
                    <div class="col-lg-1 checkbox">
                        <label>
                            @Html.CheckBoxFor(m => m.IsAllDay) 全天
                        </label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-1 text-center">
                        <b>结束</b>
                    </div>
                    <div class="col-lg-6">
                        @Html.TextBoxFor(m => m.EndDate, new { @class = "form-control" })
                    </div>
                    <div class="col-lg-4">
                        @Html.TextBoxFor(m => m.EndTime, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-12">
                        @Html.TextAreaFor(m => m.Details, new { @class = "form-control", style = "height: 400px;" })
                    </div>
                </div>
                
                @Html.HiddenFor(m => m.ShareInfo)
                <div class="form-group row">
                    @Html.DropDownListFor(m => m.Visiblity, new List<SelectListItem>()
                    {
                        new SelectListItem(){Text="公开",Value="0"},
                        new SelectListItem(){Text="同班、同组及好友",Value="1"},
                        new SelectListItem(){Text="同组、好友",Value="2"},
                        new SelectListItem(){Text="私密",Value="3"},
                    })
                    <button class="btn btn-success" type="submit">保存</button>
                    <button class="btn btn-danger" onclick="window.close();">取消</button>
                </div>
            }
        </td>
        <td style="width:40%;padding:30px;">
            <h1>参与者</h1>
            <div class="chat-list">
                <ul class="chat" id="userList">
                    <li class='text-muted' onclick="toggleCollapse('friend')">
                        <p>我的好友 <i class="fa fa-angle-up" id="friend-toggle"></i></p>
                    </li>
                    @foreach (var f in Model.Friends)
                    {
                        <li class="left green-hover friend" id="u-@f.Id">
                            <a class="item" href="#" onclick="selectUser('@f.Id');">
                                <span class="pull-left">
                                    <img src="@f.HeadImgUrl" alt="User Avatar" class="chat-list-img" />
                                </span>
                                <div class="chat-body">
                                    <div class="header">
                                        <strong class="primary-font"> @f.RealName </strong>
                                    </div>
                                    <p>
                                        @@@f.UserName
                                    </p>
                                </div>
                            </a>
                        </li>
                    }
                    <li class='text-muted' onclick="toggleCollapse('group')">
                        <p>我的小组 <i class="fa fa-angle-up" id="friend-toggle"></i></p>
                    </li>
                    @foreach (var f in Model.Groups)
                    {
                        if (f.HeadmanId == Model.Account.Id)
                        {
                            var a = "";
                            if (Model.Appointment != null && Model.Appointment.Groups.Where(x => x.Id == f.Id).FirstOrDefault() != null) {
                                a = "selected";
                            }
                            <li class="left green-hover group @a" id="u-g-@f.Id">
                                <a class="item" href="#" onclick="selectUser('g-@(f.Id)');">
                                    <span class="pull-left">
                                        <div style='width:40px;height:40px;font-size:30px;text-align: center'>
                                            <i class='fa fa-users'></i>
                                        </div>
                                    </span>
                                    <div class="chat-body">
                                        <div class="header">
                                            <strong class="primary-font"> @f.Name </strong>
                                        </div>
                                        <p>
                                            @f.Announcement
                                        </p>
                                    </div>
                                </a>
                            </li>
                        }
                    }
                    <li class='text-muted' onclick="toggleCollapse('classmate')">
                        <p>同班同学 <i class="fa fa-angle-up" id="friend-toggle"></i></p>
                    </li>
                    @foreach (var f in Model.Classmates)
                    {
                        <li class="left green-hover classmate" id="u-@f.Id">
                            <a class="item" href="#" onclick="selectUser('@f.Id');">
                                <span class="pull-left">
                                    <img src="@f.HeadImgUrl" alt="User Avatar" class="chat-list-img" />
                                </span>
                                <div class="chat-body">
                                    <div class="header">
                                        <strong class="primary-font"> @f.RealName </strong>
                                    </div>
                                    <p>
                                        @@@f.UserName
                                    </p>
                                </div>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </td>
    </tr>
</table>
@Scripts.Render("~/Plugins/datepicker/js/bootstrap-datepicker.js")
@Scripts.Render("~/Plugins/timepicker/js/bootstrap-timepicker.min.js")
<style>
    .selected {
        background-color: rgba(23, 124, 23, 0.4);
    }

        .selected:hover {
            background-color: rgba(23, 124, 23, 0.4);
        }
</style>
<script>
    var json = JSON.parse("@{
        var json = new MvcHtmlString(Model.Json.Replace("\"","\\\""));
        @json
    }");

    var selectedUsers = [];
    if ('title' in json)
        $('#Title').val(json.title);

    if ('date' in json) {
        $('#StartDate').val(json.date);
        $('#EndDate').val(json.date);
    }

    if ('start' in json)
        $('#StartTime').val(json.start);

    if ('end' in json)
        $('#EndTime').val(json.end);

    if ('allday' in json) {
        if (json.allday) {
            $('#StartTime').attr('disabled', 'disabled');
            $('#EndTime').attr('disabled', 'disabled');
        }
        $("#IsAllDay").attr('checked', json.allday);
    }

    $('#IsAllDay').change(function () {
        if ($('#IsAllDay').is(':checked')) {
            $("#StartTime").attr("disabled", "disabled");
            $("#EndTime").attr("disabled", "disabled");
        }
        else {
            $('#StartTime').removeAttr('disabled');
            $('#EndTime').removeAttr('disabled');
        }
    });

    $("#StartTime").timepicker({
        showMeridian: false,
        defaultTime: $("#StartTime").val(),
    });

    $("#EndTime").timepicker({
        showMeridian: false,
        defaultTime: $("#EndTime").val(),
    });

    $('#StartDate').datepicker();
    $('#EndDate').datepicker();


    window.onresize = function () {
        $('.chat-list').css('height', document.documentElement.clientHeight - 200);
    }
    $('.chat-list').css('height', document.documentElement.clientHeight - 200);

    function selectUser(id) {
        if (!$('#u-' + id).hasClass('selected'))
            $('#u-' + id).addClass('selected');
        else
            $('#u-' + id).removeClass('selected');

        var info = "";
        $('.selected').each(function () {
            var str = $(this)[0].id;
            info = info + str.slice(2) + '|';
        });

        $("#ShareInfo").val(info);
    }
</script>
@if (Model.Appointment != null)
{
    <script>
        $('#Id').val('@Model.Appointment.Id');
        $('#Title').val('@Model.Appointment.Title');
        $('#Place').val('@Model.Appointment.Place');
        $('#StartDate').val('@Model.Appointment.StartTime.ToString("yyyy-MM-dd")');
        $('#StartTime').val('@Model.Appointment.StartTime.ToString("hh:mm")');
        $('#EndDate').val('@Model.Appointment.EndTime.Value.ToString("yyyy-MM-dd")');
        $('#EndTime').val('@Model.Appointment.EndTime.Value.ToString("hh:mm")');
        $("#IsAllDay").attr('checked', @Model.Appointment.IsAllDay.ToString().ToLower());
        $('#Details').val('@Model.Appointment.Details');
    </script>
}
